button {
  width: 46%;
  height: 8rem;
}

#y {
  background-color: var(--bg-good);
}

#n {
  background-color: var(--bg-danger);
  scale: 1;
}

input[type="submit"] {
  background-color: salmon;
  color: pink;
  cursor: pointer;
}

input[type="submit"]:hover {
  scale: 1.1;
}
