button {
  width: 46%;
  height: 8rem;
  cursor: pointer;
}

#y {
  background-color: var(--bg-good);
}

#n {
  background-color: var(--bg-danger);
  scale: 1;
}

input[type="submit"] {
  background-color: var(--hl-primary);
  color: var(--txt-tertiary);
  cursor: pointer;
}

input[type="submit"]:hover {
  scale: 1.05;
}

input[type="submit"]:active {
  scale: 0.95;
}
