button {
  width: 20vw;
  height: 20vw;
  cursor: pointer;
}

#y, #n{
  border: 0;
  border-radius: 100%;
}

#y {
  background-color: var(--bg-good);
}

#y:hover{
  animation: beat 1.2s ease-in-out infinite;
}

#n {
  background-color: var(--bg-danger);
  scale: 1;
}

input[type="submit"] {
  background-color: var(--hl-primary);
  color: var(--txt-tertiary);
  cursor: pointer;
}

input[type="submit"]:hover {
  scale: 1.05;
}

input[type="submit"]:active {
  scale: 0.95;
}

@keyframes beat{
    0% {scale:1;}
    10% {scale: 1.1;}
    30% {scale: 1;}
    50% {scale: 1.1}
}