:root {
  /* background colours */
  --bg-primary: pink;
  --bg-secondary: lightpink;
  --bg-danger: rgb(255, 90, 90);
  --bg-good: rgb(79, 222, 79);

  /* text colours */
  --txt-primary: palevioletred;
  --txt-secondary: lightgreen;
  --txt-tertiary: var(--bg-primary);

  /* highlight colours */
  --hl-primary: salmon;
  --hl-secondary: violet;
}
