:root {
  /* background colours */
  --bg-primary: pink;
  --bg-secondary: lightpink;
  --bg-danger: red;
  --bg-good: lightgreen;

  /* text colours */
  --txt-primary: palevioletred;
  --txt-secondary: lightgreen;
  --txt-tertiary: var(--bg-primary);

  /* highlight colours */
  --hl-primary: salmon;
  --hl-secondary: violet;
}
