@import url(./css/colours.css);
@import url(./css/btn.css);

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
}

.ctx {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
}

input {
  text-align: center;
  border: 2px solid transparent;
  background-color: var(--bg-secondary);
  border-radius: 7px 7px 5px 5px;
  transition-duration: 0.3s;
  background-image: linear-gradient(
    to right,
    var(--hl-secondary) 50%,
    var(--hl-primary) 50%
  );
  background-size: 220% 2px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

input:focus {
  outline: none;
  background-position: 0% 100%;
}

.mTop20 {
  margin-top: 20vh;
}
.mTop40 {
  margin-top: 40vh;
}

.response {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 10rem;
  margin-bottom: 4rem;
}
